/* Display Inline Block */
/*
.scrollbar-chrome,
.scrollbar-track {
  display: inline-block;
  zoom: 1;
  *display: inline;
}


table {
  width           : 100%;
  border-collapse : collapse;
  background      : #fff;
  box-shadow      : 0 2px 6px rgba(0,0,0,0.1);
}

th {
  font-weight        : bold;
  color              : #fff;
  background-image   : -webkit-linear-gradient(bottom,rgb(12,91,122), rgb(53,91,140) );
  background-image   :    -moz-linear-gradient(bottom,rgb(12,91,122), rgb(53,91,140) );
  background-image   :     -ms-linear-gradient(bottom,rgb(12,91,122), rgb(53,91,140) );
  background-image   :         linear-gradient(bottom,rgb(12,91,122), rgb(53,91,140) );
  -webkit-transition : all 0.3s;
  -moz-transition    : all 0.3s;
  -ms-transition     : all 0.3s;
  -o-transition      : all 0.3s;
  transition         : all 0.3s;
}

td {
  font-weight: 300;
}

td,th {
  padding     : 0 10px;
  font-size   : 13px;
  line-height : 32px;
}

tbody tr:nth-child(even) {
  background: #f8f8f8;
}


th.table-sort {
  padding-right : 36px;
  text-align    : left;
  cursor        : pointer;
}

th.table-sort:hover {
  background-image : -webkit-linear-gradient(bottom,rgb(26,91,128), rgb(62,120,160) );
  background-image :    -moz-linear-gradient(bottom,rgb(26,91,128), rgb(62,120,160) );
  background-image :     -ms-linear-gradient(bottom,rgb(26,91,128), rgb(62,120,160) );
  background-image :         linear-gradient(bottom,rgb(26,91,128), rgb(62,120,160) );
}

.table-sort-field {
  position: relative;
}

.table-sort-control {
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.0));
  background-image:    -moz-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.0));
  background-image:     -ms-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.0));
  background-image:         linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.0));
  height    : 32px;
  width     : 16px;
  position  : absolute;
  top       : 0;
  right     : -36px;
}

.table-sort-up,
.table-sort-down {
  border  : 3px solid transparent;
  position: absolute;
  right   : 6px;
}

.table-sort-up {
  border-bottom-color: rgba(255,255,255,0.3);
  top                : 8px;
}

.table-sort-down {
  border-top-color: rgba(255,255,255,0.3);
  top             : 19px;
}

.table-sort-order-asc .table-sort-up {
  border-bottom-color: rgba(255,255,255,1);
}

.table-sort-order-des .table-sort-down {
  border-top-color: rgba(255,255,255,1);
}


.table-sort-search-container {
  position         : relative;
  width            : 100%;
  padding          : 0px 100px 10px 54px;
  background-image : -webkit-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -ms-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -o-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : -moz-linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
  background-image : linear-gradient(bottom,rgb(63,63,63),rgb(73,73,73));
}

.table-sort-search-input {
  -webkit-appearance : none;
  width              : 100%;
  height             : 25px;
  padding            : 0 10px;
  border             : 1px solid rgb(50,50,50);
  border-radius      : 6px;
  font-size          : 13px;
  line-height        : 25px;
  background         : rgb(238,238,238);
  -webkit-transition : all 0.2s;
  -moz-transition    : all 0.2s;
  -ms-transition     : all 0.2s;
  transition         : all 0.2s;
  margin-top:10px;
}

.table-sort-search-input:focus,.table-sort-search-input:hover {
  outline    : none;
  background : #fff;
}

.tsh {
  color      : #fff;
  background : rgb(255,86,174);
}

.table-sort-search-count {
  position         : absolute;
  top              : 15px;
  right            : 110px;
  padding          : 0 7px;
  border-radius    : 3px;
  line-height      : 19px;
  color            : #fff;
  background-image : -webkit-linear-gradient(bottom,#9EB4C2, #91A2B1 );
  background-image : -moz-linear-gradient(bottom,#9EB4C2, #91A2B1 );
  background-image : -ms-linear-gradient(bottom,#9EB4C2, #91A2B1 );
  background-image : linear-gradient(bottom,#9EB4C2, #91A2B1 );
  font-size: 11px;
}

/* Scrollbar
.scrollbar-chrome {
  width            : 100%;
  height           : 17px;
  background-image : -webkit-linear-gradient(bottom,rgb(63,63,63), rgb(73,73,73) );
  background-image : -ms-linear-gradient(bottom,rgb(63,63,63), rgb(73,73,73) );
  background-image : -o-linear-gradient(bottom,rgb(63,63,63), rgb(73,73,73) );
  background-image : -moz-linear-gradient(bottom,rgb(63,63,63), rgb(73,73,73) );
  background-image : linear-gradient(bottom,rgb(63,63,63), rgb(73,73,73) );
}

.scrollbar-track {
  display          : block;
  height           : 10px;
  margin           : 3px 5px;
  border-radius    : 5px;
  background-image : -webkit-linear-gradient(top,#292929,rgb(73,73,73) );
  background-image : -ms-linear-gradient(top,#292929,rgb(73,73,73) );
  background-image : -o-linear-gradient(top,#292929,rgb(73,73,73) );
  background-image : -moz-linear-gradient(top,#292929,rgb(73,73,73) );
  background-image : linear-gradient(top,#292929,rgb(73,73,73) );
}

.scrollbar-container {
  height: 10px;
}

.scrollbar {
  background   : #636363;
  border-radius: 5px;
  height: 8px;
  margin: 1px;
  box-shadow: 0 1px 1px rgba(255,255,255,0.2) inset;
}*/
td{
}
